# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Go build artifacts
*.test
*.out
*.prof
*.sum
coverage.out

# Project binaries
/gbonsai/gbonsai
/glife/glife
/gmandelbrot/gmandelbrot
/glorenz/glorenz
/gmagnetic/gmagnetic
